body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: transparent;
    color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.nav {
    /* background-color: rgb(152, F198, 89); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: cadetblue;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.menu li a:hover {
    background-color: #555;
}

/* Transparent navigation bar on scroll */
.transparent-nav {
    background-color: transparent;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        margin-top: 10px;
    }

    .menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

nav img {
    width: 100px;
    /* Set your desired width */
    height: auto;
    /* Maintain the aspect ratio */
    padding: 8px;
    /* Add some padding around the image */
    background: none !important;
    /* Make the background transparent */
    background-color: transparent !important;
    /* Additional fallback for transparency */
}
