.box {
    width: 300px;
    height: 250px;
    padding: 20px; /* Can be specified as padding-top/padding-right/padding-bottom/padding-left */
    border: 2px solid #000; /* Border width, style, and color */
    margin: auto; /* Can be specified as margin-top/margin-right/margin-bottom/margin-left */
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 18%;
  }