 /* .box {
     width: 300px;
    height: 250px; */
    /* Can be specified as padding-top/padding-right/padding-bottom/padding-left */
    /* padding: 20px;  */
    /* Border width, style, and color */
     /* border: 2px solid #000;  */
     /* Can be specified as margin-top/margin-right/margin-bottom/margin-left */
     /* margin: auto; 
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 18%;
  } */